<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="SnapTest">
    <classes>
      <class name="mahesh.Exam.CodingExam3.ValidateOrdersAndCart"/>
      <class name="mahesh.Exam.CodingExam3.ValidateSnapdealMobileLogin"/>
      <class name="mahesh.Exam.CodingExam3.ValidateSnapdealEmailLogin"/>
      <class name="mahesh.Exam.CodingExam3.CommonValidations"/>
    </classes>
  </test> <!-- SnapTest -->
</suite> <!-- Suite -->
