<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="LoginTest">
		<classes>
			<class name="technoCredits.basics.testngdemo.FristTest" />
		</classes>
	</test>
	
	<test name="DemoTableTest">
		<classes>
			<class name="technoCredits.basics.testngdemo.SecondTest" />
		</classes>
	</test>
</suite> <!-- Suite -->
